.chat-main
	.chat-main__group-info
		.chat-main__group-info__box
			.chat-main__group-info__box__group-name
				="ggg"
			.chat-main__group-info__box__member
		.chat-main__group-info__edit-btn
			= link_to "#" do
				%button edit
	.chat-main__message-list
	.chat-main__message-form